{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}
    <h2 class="email-title">{{ gate.title }}</h2>

    {{ message|safe }}

    <p class="email-muted-note">
        {% blocktranslate %}If you wish to unsubscribe from this course, please <a href="{{ unsubscribe_link }}" class="color-brand" style="text-decoration: none;">click here</a>{% endblocktranslate %}.
    </p>
    {% if track_open_url %}<img src="{{ track_open_url }}" width="1" height="1" alt="" style="display:none;" />{% endif %}
{% endblock %}
