{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}
<h2 class="email-title">{{ subject }}</h2>

{{ body|safe }}

<div class="email-divider-note centered">
    {% if social_links %}
    <p class="email-social-links">
        {% include "emails/_social_icons.html" %}
    </p>
    {% endif %}
    <p>{% blocktranslate %}You are receiving this email because you subscribed to <strong>{{ newsletter_title }}</strong>.{% endblocktranslate %}</p>
    <p>{% blocktranslate %}If you no longer wish to receive these emails, you can <a href="{{ unsubscribe_url }}">unsubscribe from this newsletter</a>.{% endblocktranslate %}</p>
</div>
{% endblock %}
