{% extends "personalised/base.html" %}
{% load i18n %}
{% load django_vite %}
{% block head_script %}
    <script>
      const quiz = {{ quiz|default:"null"|safe }};
      const token = "{{ token }}";
      const csrfToken = "{{ csrf_token }}";
      const apiEndpoint = "{{ api_endpoint }}";
      const localeMessages = {
          "quiz_intro": "{% translate 'Please select all correct answers for each question. Note that some questions may have multiple correct answers. This quiz uses negative marking for incorrect choices; if you are unsure, it is better to leave the question unanswered.' %}",
          "no_answer_warning": "{% translate 'You have not selected any answers for this question. Are you sure you want to proceed?' %}",
          "your_score": "{% translate 'Your score' %}",
          "error_loading_quiz": "{% translate 'Error loading quiz' %}",
          "ready_to_submit": "{% translate 'Ready to submit?' %}",
          "submit_quiz_note": "{% translate 'Please keep in mind that this quiz uses negative marking for incorrect answers. If you are unsure of an answer, it may be better to leave it blank.' %}",
          "cancel": "{% translate 'Cancel' %}",
          "submit": "{% translate 'Submit' %}",
        }
    </script>
    {% vite_asset 'personalised/quiz_public/Quiz.jsx' %}
{% endblock %}
