{% load django_vite %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <script>
      const error_message = "{{ error_message }}";
      const ref = "{{ ref }}";
    </script>
    {% vite_hmr_client %}
    {% vite_react_refresh %}
    {% block head_script %}{% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}" />
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
</html>
