{% extends "platform/base.html" %}
{% load django_vite %}
{% block extra_head %}
    {% vite_asset 'platform/course/Course.jsx' %}
    {% if appContext.customComponent %}
        {% if appContext.customComponent.script_url %}
            <script src="{{ appContext.customComponent.script_url }}"></script>
        {% endif %}
        {% if appContext.customComponent.style_url %}
            <link rel="stylesheet" href="{{ appContext.customComponent.style_url }}">
        {% endif %}
    {% endif %}
{% endblock %}
