{% extends "platform/base.html" %}
{% load django_vite %}
{% load i18n %}
{% block extra_locale_messages %}
            "add_organization": "{% translate 'Add an Organization' %}",
            "actions": "{% translate 'Actions' %}",
            "name": "{% translate 'Name' %}",
            "description": "{% translate 'Description' %}",
            "name_required": "{% translate 'Name is required.' %}",
            "description_required": "{% translate 'Description is required.' %}",
            "error_try_again": "{% translate 'An error occurred. Please try again.' %}",
            "upload_button_label": "{% translate 'Upload Logo' %}",
            "create_organization": "{% translate 'Create Organization' %}",
            "cancel": "{% translate 'Cancel' %}",
            "delete": "{% translate 'Delete' %}",
            "confirm_deletion": "{% translate 'Confirm Deletion' %}",
            "remove_image": "{% translate 'Remove Logo' %}",
            "create": "{% translate 'Create' %}",
            "update": "{% translate 'Update' %}",
            "uploaded_image_alt": "{% translate 'Organization Logo' %}",
            "are_you_sure_delete_org": "{% translate 'Are you sure you want to delete the organization \"ORGANIZATION_NAME\"? All the courses contents and users under this organization will also be deleted.' %}"
{% endblock %}
{% block extra_head %}
    {% vite_asset 'platform/organizations/Organizations.jsx' %}
{% endblock %}
